{% capture content %}

    {% include 'partials/page-title' %}

    <div class="page-content">
        <div class="page-content-main">
            {{body | smartypants }}

            <section class="archive">
                <ul class="archive-list">
                {% for p in posts %}
                    <li class="archive-entry clearfix {% if p.meta.featured == 'true' %}is-featured{% endif %}">                
                        <a href="{{ p.url }}" class="archive-entry-link">
                            <span class="archive-entry-title">{{ p.title }}</span>
                            <span class="archive-entry-date">{{ p.date | date: '%B %Y' }}</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>

        {% include 'partials/page-sidebar' %}
    </div>

{% endcapture %}

{% include 'layouts/default' %}